<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background"} -->
<div
  class="wp-block-group has-background-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
	<!-- wp:pattern {"slug":"kaaryam/post-listing-four-column"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
